.content__wrapper {
  max-width: var(--max-width);
  margin: var(--centre-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 9px;
  padding-top: clamp(32px, 6vw, 40px);
  padding-bottom: 30px;
  padding-left: clamp(16px, 4vw, 32px);
  position: relative;
}

@media screen and (min-width: 1024px) {
  .content__wrapper {
    padding: 33px clamp(80px, 6vw, 82px) 47px;
    gap: 24px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-direction: row;
  }
}
