.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* display: none; */
  font-family: var(--font);
  background: rgba(246, 252, 255, 0.3);
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
  visibility: hidden;
  opacity: 0;
  transition: visibility .7s, opacity .7s ease-in-out;
}

h4, h5, p {
  margin: 0;
}

button {
  cursor: var(--cursor-pointer);
  border: none;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .popup {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
