.lead__title {
  color: var(--secondary-color-blue);
  font-size: clamp(2em, 6vw, 2.5em);
  font-weight: 600;
  margin-bottom: 20px;
}

@media screen and (min-width: 764px) {
  .lead__title {
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    font-size: clamp(2.5em, 4vw, 3em);
    letter-spacing: -1.2px;
    margin-bottom: 38px;
    width: 90%;
  }
}

@media screen and (min-width: 1600px) {
  .lead__title {
    width: 100%;
  }
}
