.popup-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 444px;
  height: 272px;
  padding: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: var(--border-radius);
  background: var(--color-placeholder);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  position: relative;
}
