.pagination {
  display: block;
}

.pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--color-dots);
  border-radius: 50%;
}

.pagination .swiper-pagination-bullet-active {
  background: var(--color-btn);
}

@media screen and (min-width: 1024px) {
  .pagination {
    display: none;
  }
}
