.header__burger {
  background: url(../../../images/icon_menu.svg);
  width: 24px;
  height: 24px;
  display: block;
  cursor: var(--cursor-pointer);
  z-index: 10;
}

@media screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
