.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
}

.popup__wrapper::-webkit-scrollbar {
  width: 16px;
}

.popup__wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--secondary-color-blue);
  border: 4px solid var(--primery-color-white);
}

.popup__wrapper::-webkit-scrollbar-track {
  margin-top: 28px;
  background-color: var(--primery-color-white);
  border-radius: 4px;
}

@media screen and (min-width: 764px) {
  .popup__wrapper::-webkit-scrollbar {
    width: 18px;
  }

  .popup__wrapper::-webkit-scrollbar-thumb {
    border: 5px solid var(--primery-color-white);
  }

  .popup__wrapper::-webkit-scrollbar-track {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 3fr;
    grid-template-columns: 1fr 3fr;
    gap: 55px;
    overflow: initial;
  }
}
